filebeat.inputs:
- type: log
  enabled: true
  fields:
    loadbalancer_id: {{ loadbalancer_id }}
  paths:
    - /var/log/haproxy.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true

setup.template.settings:
  index.number_of_shards: 3


output.logstash:
  hosts: [ "10.10.10.10:5044"]
